<div class="d-flex justify-content-center">
    <h1>Lista de Productos</h1>
</div>
<div class="container-fluid d-flex justify-content-around">

    {{#each productos }}
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h3 id="title" class="card-title">{{title}}</h3>
                <p class="card-text">Descripcion: {{description}}</p>
                <p class="card-text">Categoria: {{category}}</p>
                <p class="card-text">Inventario: {{stock}}</p>
                <p class="card-text">Precio: {{price}}</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
    {{/each}}
</div>

<script src="./js/home.js"></script>

<!--
<div>
    <input id="title" type="" placeholder="" name="">
    <button id="'send">Enviar</button>
</div>
-->