<!-- /api/realtimeproducts -->
<div class="d-flex justify-content-center">
    <h1>Lista de Productos en Tiempo Real</h1>
</div>
<div class="container-fluid d-flex justify-content-around">
    <button id="newProdBtn" class="btn btn-success">Agregar nuevo Producto</button>
</div>

<div id="productContainer" class="container-fluid d-flex justify-content-around">
     {{#each productos}}
        <div class="card" style="width: 18rem;">
             <img src="..." class="card-img-top" alt="..."> 
            <div class="card-body">
                <h3 class="card-title">{{this.title}}</h3>
                <p class="card-text">Descripcion: {{this.description}}</p>
                <p class="card-text">Categoria: {{this.category}}</p>
                <p class="card-text">Inventario: {{this.stock}}</p>
                <p class="card-text">Precio: {{this.price}}</p>
                <button class="btn btn-danger" value={{this.id}}>Eliminar</button>
            </div>
        </div>
    {{/each}}
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="./js/realtimeproducts.js"></script>

